@import url('https://fonts.googleapis.com/css?family=Changa+One|Open+Sans');


/***********************************************
GENERAL
***********************************************/
*{margin:0px;
  padding:0px;}
body{
 font-family:'Open Sans', sans-serif; 
 background:#f4f4f4;
}


a{
 text-decoration:none;
}

img{
max-width:100%;
}


/***********************************************
COLOR
***********************************************/



    
nav{
 background:#125421; 
  
}

nav a, nav a:visited{
 color:#fff; 
}
nav a:hover{
 color: #32673f;
   text-decoration:none;
}
nav ul li a.selected {
   color: #32673f;
   text-decoration:none;
}
a:hover{
    text-decoration:none;
}
/***********************************************
HEADER
***********************************************/


header a{
    color:#fff;
text-decoration:none;
}  

header a:hover{
    color:#fff;
text-decoration:none;
}  
h1{
 color:#fff; 
}

header{
background-color:#599a68;
 margin:0 0 5px 0;
  width:100%;
  float:left;
  padding:5px 0 0 0;
}

#logo{
text-align:center;
   margin: 0;
}
#logo h1{
 font-family:'Changa One',sans-serif;
  margin: 15px 0 15px 10px ;
  font-weight:bold;
  line-height:0.6em;
}


/*********
*NAV
*********/
nav{
  text-align:center;
  padding:10px;
  margin:8px 0 0 0;
}

nav ul{
 list-style:none;
  margin: 0 10px;
  padding: 0px;
}
nav ul li{
display:inline-block; 
    
}

nav ul li a{
  font-weight:bold;
  padding:15px 10px;
   font-size: 1.5em;
}

/*******************************/


.sidebar{
    width:25%;
    padding:2.5%;
    float:left;
}
.sidebar ul li a {
    text-decoration: none;
}

.main-contain{
    width:75%;
    padding:2.5%;
    float:right;
}



.UuDai img:first-child {
width:49%;
float:left;
}
.UuDai img{
width:49%;
float:right;
}
.item-khuyenkhich  {
    float: left;
    width: 16.66666666%;
    padding-right:3%;
}
.item-khuyenkhich:last-child  {
    float: left;
    width: 16.6%;
    padding-left:1%;
}
/************
* Carousel *
************/
.carousel{
    margin: 0 0px 5px;
}
.carousel .c_header{
    height: 50px;
    margin: 17px 0 12px 0px;
    border-top: 10px solid #2cc931;
    text-align: center;
}
.carousel .c_header .grid_10{
    margin-left:0;
}
.carousel .c_header .grid_2{
    margin-right:0; 
}
.carousel .c_header h2{
    margin: 9px 0 0 0;
    font-size: 24px;
}
.arows{
    display: block;
    float: right;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    background: #f1f3f5;
    margin: 0px 0 0 8px;
    color: #444;
    font: bold 15px/41px Arial, Verdana, serif;
    opacity: 0.85;
}
a:hover.arows{
    background: #444;
    color: #fff;
    text-decoration: none
}
.arows span{
    display: block;
    margin: 13px 0 0 16px;
    width: 10px;
    height: 15px;
    text-indent: -9999px;
    background: url(../images/bg_arows.png) no-repeat left top;
}
.arows.next span{
    background: url(../images/bg_arows.png) no-repeat right top;
}
.arows:hover span{
    background: url(../images/bg_arows.png) no-repeat left bottom;
}
.arows.next:hover span{
    background: url(../images/bg_arows.png) no-repeat right bottom;
}
.caroufredsel_wrapper{
    width: 1008px;
}
.list_product{
    padding: 2px 0 0 0
}
.list_product li{
    position: relative;
    height: 320px;
    float: left;
    margin-bottom:20px;
    padding-left: 6px;
}
.product:hover{
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}
.product{
    width: 226px!important;
    height: 316px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    behavior: url(PIE.htc);
}
img.sale{
    position: absolute;
    margin: -4px 0 0 -4px;
    z-index: 999;
}
.product .prev{
    width: 210px;
    height: 210px;
    margin: 8px 0 10px 8px;
    text-align: center;
    background: #fafafa;
}
.product .prev a{
    width: 210px;
    height: 210px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    }
.product .prev img{
    max-width: 210px;
    max-height: 210px;
}
.product h3.title{
    height: 43px;
    padding: 3px 8px 0;
    margin: 0px;
    font: normal 13px/18px Bitter, Myriad Pro, Verdana, serif;
    color:#777;
    border-bottom: 1px solid #e0e0e0;
}
.product .cart .price{
    float: left;
    height: 40px;
    width: 81px;
    padding: 1px 8px 0;
    margin: 0px;
    font: normal 12px/18px Bitter, Myriad Pro, Verdana, serif;
    color:#2e8f9a;
    border-right: 1px solid #e0e0e0;
}
.product .cart .price .vert{
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    
}
.product .cart .price .price_old{
    color:#777;
    font: normal 11px/18px Segoeui, Arial, Verdana, serif;
    text-decoration: line-through;
    margin: 0px 0 0 0;
}
.product .cart .obn,
.product .cart .like,
.product .cart .bay{
    width: 42px;
    display: block;
    float: left;
    height: 41px;
    margin: 0px;
    border-right: 1px solid #e0e0e0;
}
.product .cart .obn{
    background: url(../images/bg_obn.png) no-repeat 50% 50%;
}
.product .cart .like{
    background: url(../images/bg_like.png) no-repeat 50% 50%;
}
.product .cart .bay{
    background: url(../images/bg_bay.png) no-repeat 50% 50% #f5f7f9;
    border: 0 none;
}
.product .cart a:hover.obn,
.product .cart a:hover.like,
.product .cart a:hover.bay{
    background-color: #eff7ff;
}



/********
*Genaral
*********/
ul{
    list-style: none;
}
a{
    text-decoration:underline;
    color: #59b7c2;
}
a:hover,a:active {
    text-decoration:none;
}
nav a{
    text-decoration: none;
}
b,strong{
    font-family: Segoeui-Bold, Arial, Verdana, serif;
}
p, b, li, strong{
    font-size:13px; line-height: 20px;
}
hr{
    background: #e0e0e0;height: 1px
}
h1,h2,h3,h4,h5,h6 {
    font-family: Bitter, Myriad Pro, Verdana, serif;
    font-weight: normal;
    color: #444;
    line-height: 1;
    padding-bottom: 23px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 27px;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 17px;
}
h6{
    font-size: 14px;
}


/********
*Footer
*********/

.textwidget p {
    font-size: 1.25rem;
}
.footer-widgets.footer.footer-1 {
    padding: 30px;
    color: white;
    font-family: "Roboto", sans-serif;
}


/******
*Chi Tiet Sach
*******/

.HinhChiTietSach{
    width: 30%;
    box-sizing:content-box;
    float:left;
}
.ThongTinChiTiet{
    width: 55%;
    float:right;
    box-sizing:content-box;
    background-color: white;
}

.ThongTinNoiDung{
    width:93%;
    box-sizing:content-box;
    background-color: white;
}
.TenSach, .ChuDe, .NhaXuatBan {
    font-weight: bold;
    color: green;
    font-size: 1.75rem;
}


/*********
DangKy
**********/

